.masonry-container {
    columns: 3;
    column-gap: 1rem;
}

.masonry-container img {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    break-inside: avoid;
}

.container img:hover {
    /* Image Styling on hover */
    transform:  scale(110%);
}